html,
body {
  scroll-behavior: smooth;
  font-family: 'Gotham Extra Light', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 250;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  animation: fadeIn 1.5s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}